.downup{
    text-align: center;
    display: flex;
    align-items: center;
    color: rgb(211, 149, 160);
    width: 180px;
    margin: 0 auto;
    padding-left: 20px;
    padding-bottom: 30px;

}
.fa-angle-down{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
}