.about{
    text-align: center;
    padding-top: 100px;
}
.about_title{
    font-size: 36px;
    line-height: 55px;
    color: rgb(44, 44, 44);
}
.about_text{
    font-size: 16px;
    line-height: 24px;
    padding-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width:1120px){
    .container{
      width: 1000px;
    }
}
@media(max-width:1020px){
    .container{
      width: 900px;
    }
}
@media(max-width:920px){
    .container{
      width: 800px;
    }
}
@media(max-width:820px){
    .container{
      width: 700px;
    }
    .about_text{
      max-width: 90%;
    }
}
@media(max-width:720px){
    .container{
      width: 600px;
    }
}
@media(max-width:620px){
    .container{
      width: 500px;
    }
}
@media(max-width:520px){
    .container{
      width: 400px;
    }
    .about_title{
      font-size: 30px;
    }
    .about_text{
      max-width: 95%;
      font-size: 14px;
      line-height: 20px;
    }
}
@media(max-width:420px){
    .container{
      width: 100%;
      padding: 15px;
    }
}