.contact_title{
    font-size: 36px;
    line-height: 55px;
    color: rgb(44, 44, 44);
    text-align: center;
}
.contact_list{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.contact_wrap{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
.contact_item{
    text-align: center;
}
.fa-envelope,.fa-phone,.fa-share-nodes,.fa-github,.fa-telegram{
    color: rgb(168, 118, 126);
    font-size: 24px;
}
.fa-github{
    margin-right: 10px;
}
.contact_name{
    font-size: 18px;
    padding-left: 15px;
}
.contact_link{
    color: rgb(27, 27, 27);
}
.contact{
    padding-top: 40px;
    padding-bottom: 100px;
}